.input-div {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input {
    padding: 10px;
    margin: 10px;

}
label {
    font-size: 18px;
    margin: 10px;
}
#subbtn {
    padding: 10px 30px;
    margin-left: 120px; 
}

#box {
    position: relative;
    width: 200px;
    height: 200px;    
    display: inline-block;
    margin: 2px;
    border-radius: 8px;
}

